.dart_tool/
.flutter-plugins-dependencies
build/
android/.gradle/
android/.kotlin/
android/local.properties
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
